{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instance Overview" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with stylecss="fa fa-tachometer" console="// 控制台" title=_("Overview") %}
{% endblock page_header %}

{% block main %}
	{% include "horizon/common/_page_lade.html" %}
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<section class="tile color transparent">
				{% include "horizon/common/_usage_summary.html" %}
	  		{{ table.render }}
  		</section>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12">
			<section class="tile color transparent">
				{% include "horizon/common/_quota_summary.html" %}
			</section>
		</div>
	</div>
  
  
{% endblock %}
