{% load compress %}

{% comment %} Django's JavaScript i18n Implementation {% endcomment %}

{% comment %} Compress jQuery, Plugins, Bootstrap, Hogan.js and Horizon-specific JS. {% endcomment %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/bootstrap-dropdown-multilevel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/animate-numbers/jquery.animateNumbers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/videobackground/jquery.videobackground.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/blockui/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/flot/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/flot/jquery.flot.animator.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/easypiechart/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/rickshaw/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/rickshaw/d3.v2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/rickshaw/rickshaw.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/morris/morris.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/tabdrop/bootstrap-tabdrop.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/summernote/summernote.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/chosen/chosen.jquery.min.js"></script>
{% endcompress %}

{% comment %} Client-side Templates (These should *not* be inside the "compress" tag.) {% endcomment %}
{% include "horizon/client_side/templates.html" %}



{% comment %}Go!{% endcomment %}
<script type="text/javascript" src="{{ STATIC_URL }}vendor/flot/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mkt.js"></script>
