{% load i18n %}
<div class="row cards">
	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-redbrown">
			<div class="front">
				<div class="media">
					<span class="pull-left"><i class="fa fa-users media-object"></i></span>
					<div class="media-body">
						<small>项目所有者</small>
						<h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
					</div>
				</div>
				<div class="progress-list">
					<div class="details">
						<div class="title">This month plan %</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-blue">
			<div class="front">
				<div class="media">
					<span class="pull-left"><i class="fa fa-shopping-cart media-object"></i></span>
					<div class="media-body">
						<small>账户消费预估</small>
						<h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
					</div>
				</div>
				<div class="progress-list">
					<div class="details">
						<div class="title">This month plan %</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-greensea">
			<div class="front">
				<div class="media">
					<span class="pull-left"><i class="fa fa-usd media-object"></i></span>
					<div class="media-body">
						<small>账户余额</small>
						<h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
					</div>
				</div>
				<div class="progress-list">
					<div class="details">
						<div class="title">This month plan %</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-container col-lg-3 col-sm-6 col-xs-12">
		<div class="card card-slategray">
			<div class="front">

				<div class="media">
					<span class="pull-left"><i class="fa fa-eye media-object"></i></span>
					<div class="media-body">
						<small>子账户余额</small>
						<h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
					</div>
				</div>
				<div class="progress-list">
					<div class="details">
						<div class="title">This month plan %</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>