{% load i18n sizeformat %}
<!--<div class="tile-header color blue">
	<h1>{% trans "Select a month to query its usage" %}: </h1>
	<div class="controls">
		<a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
		<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
		<a href="#" class="remove"><i class="fa fa-times"></i></a>
	</div>
</div>
<div class="tile-body no-vpadding">
  <form action="" method="get" id="date_form" class="form-horizontal">
    <div class="form-row">
      {{ form.month }}
      {{ form.year }}
      <button class="btn btn-small" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>

  <p id="activity">
    <span><strong>{% trans "Active Instances" %}:</strong> {{ usage.summary.instances|default:'-' }}</span>
    <span><strong>{% trans "Active RAM" %}:</strong> {{ usage.summary.memory_mb|mbformat|default:'-' }}</span>
    <span><strong>{% trans "This Month's VCPU-Hours" %}:</strong> {{ usage.summary.vcpu_hours|floatformat:2|default:'-' }}</span>
    <span><strong>{% trans "This Month's GB-Hours" %}:</strong> {{ usage.summary.disk_gb_hours|floatformat:2|default:'-' }}</span>
  </p>
</div>-->
