{% load horizon %}

{% block id %}modal_template{% endblock %}

{% block template %}
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <h3 class="modal-title" id="modalConfirmLabel">[[title]]</h3>
      </div>
      <div class="modal-body">
        [[body]]
      </div>
      <div class="modal-footer">
        <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">[[confirm]]</button>
        <button class="btn btn-green">[[cancel]]</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}
